<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <p>Enter your new password:</p>
    <form method="post" >
        {% csrf_token %}
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required>
        <br>
        <input type="submit" value="Change Password">
    </form>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    <p><a href="{% url 'chats' %}">Cancel</a></p>
</body>
</html>
