<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/output.css">
    <title>signup</title>
</head>
<body class="bg-black">
    <div class="h-screen flex flex-col mt-5 mb-10 items-center gap-3">
        <img src="../img/sitelogo.png" alt="logo" class="w-64 ">
        <h1 class="text-orange-600 text-4xl">WELCOME ABOARD</h1>
        <p class="text-white ">Sign in explore the market explore the world of ART</p>
        <div class="w-1/3">
            <h2 class="text-2xl font-bold mb-4 ">Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4 ">
                    <input type="text" id="username" placeholder="Username" name="username"  class="mt-1 px-4 py-2 w-full border-gray-300 rounded-xl focus:outline-none focus:border-blue-500" required>
                </div>
                <div class="mb-6">
                    <input type="email" id="email" placeholder="email" name="email" class="mt-1 px-4 py-2 w-full border-gray-300 rounded-xl focus:outline-none focus:border-orange-500" required>
                </div>
                <div class="mb-6">
                    <input type="text" id="fullname" placeholder="full name" name="fullname" class="px-4 py-2 w-full border-gray-300 rounded-xl focus:outline-none focus:border-orange-500" required>
                </div>
                 <div class="mb-6">
                    <input type="text" id="phone" placeholder="phone number" name="phone" class="px-4 py-2 w-full border-gray-300 rounded-xl focus:outline-none focus:border-orange-500" required>
                </div>
                <div class="mb-6">
                    <input type="password" id="password" placeholder="Password" name="password" class="px-4 py-2 w-full border-gray-300 rounded-xl focus:outline-none focus:border-orange-500" required>
                </div>
                <button type="submit" class="bg-orange-400 text-white px-4 py-2 w-full rounded-xl  hover:bg-orange-600 transition-colors duration-300">JOIN</button>
                <div class="my-8 flex items-center text-white gap-4 before:h-px before:flex-1 before:bg-orange-600 before:content-[''] after:h-px after:flex-1 after:bg-orange-600  after:content-['']">More</div>

            </form>
            {% for message in messages %}
            <p style="color: #8f00b2;">{{ message }}</p>
        {% endfor %}
        <div class="flex gap-9">
            <a href="{% url 'loginuser' %}" class="text-gray-400 hover:text-orange-500 text-sm justify-start">Already have an account ?</a>
        </div>
    </div>
    <footer class="bg-black text-white py-8">
        <div class="container mx-auto px-8">
            <div class="flex items-center justify-between">
                <p>&copy; 2024 ArtExpo. All rights reserved.</p>
                <ul class="flex space-x-6">
                    <li class="hover:text-orange-500"><a href="#" class="hover:text-orange-500"><a href="rtyetyer.html">Home</a></a></li>
                    <li><a href="#" class="hover:text-orange-500">About</a></li>
                    <li><a href="#" class="hover:text-orange-500">Artists</a></li>
                    <li><a href="#" class="hover:text-orange-500">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>